.container {
  background-color: white;
  padding: 1rem;
}

.container-img {
  width: 100%;
  text-align: center;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {
  font-size: 1em;
  margin: 0px;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #6dbad8;
  display: inline-block;
  border-radius: 5px;
  border-bottom: 3px solid #5490a8;
}

.input-file + label:hover {
  background-color: #5490a8;
  cursor: pointer;
}

.button-save {
  font-size: 1em;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #6dbad8;
  display: inline-block;
  border-radius: 5px;
  border-bottom: 3px solid #5490a8;
}

.button-save:hover {
  background-color: #5490a8;
  cursor: pointer;
}
